@import "globals";
$primaryColour: #354852; // blueGrey300
$secondaryColour:  #B0BEC5; // blueGrey200
$buttonColour: #2196F3; // blue500
$snow-white: #d3d5e3;
$snow-whiter: #EBECF5;


// Start of DeviceMap
#DeviceMap-Map-Container {
	width: 100%;
	height: 100%;

	iframe {
		width: 100%;
		height: 100%;
	}

	// InfoWindow close button
	.gm-style > div:first-child > div:nth-child(4) > div:nth-child(4) > div > div:nth-child(3) {
		width: 24px !important;
		height: 24px !important;

		&:after {
			position: relative;
			right: -0.5rem;
			content: "\00d7";
			display: block;
			font-size: 2rem;
			line-height: 1rem;
		}
		img {
			display: none;
		}
	}

	// InfoWindow container
	.gm-style .gm-style-iw {
		overflow: visible;
		margin-left: -0.85rem;
	}
	.gm-style .gm-style-iw > div:first-child {
		overflow: visible !important;
	}
	.gm-style .gm-style-iw > div:first-child > div {
		margin-right: -3.15rem;
		margin-bottom: -0.25rem;
	}

	// InfoWindow content
	.infowindow_content {
		h2 {
			margin: 2rem;
			font-weight: normal;
			text-align: center;
		}

		.infowindow_buttons {
			border-top: 1px solid #eee;
			margin: 0 0.25rem;
			display: flex;
			justify-content: space-around;
			align-items: center;

			button {
				display: block;
				margin-top: 0.25rem !important;
				height: auto !important;
			}
			button svg {
				vertical-align: middle;
			}	
			button > div {
				padding: 0.5rem 0.75rem 0.5rem 0.25rem;
			}
			button > div > span:nth-child(1) {
				// padding-right: 8px !important;
			}
			hr {
				background: none;
				border: none;
				border-right: 1px solid #eee;
				display: block;
				margin: 0 0.25rem;
				width: 1px;
				height: 36px;
			}
		}
	}

	#DeviceMap-Map-Cover {
		z-index: 10;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		#DeviceMap-Map-Cover-Confirm {
			position: fixed;
			bottom: 0;
			left: 0;
			background: #fff;
			box-shadow: 0 0 5px rgba(0,0,0,0.3);
			padding: 1rem 0;
			text-align: center;
			width: 100%;

			button {
				span {
					// color: $primaryColour !important;
				}
				svg {
					vertical-align: middle;
				}
			}
		}
	}
}
// End of DeviceMap


// Start of Dialogues
.DialogueEditorDirect {

	.DialogueEditorMenu {
		z-index: 10;
		position: fixed;
		bottom: 0;
		left: 0;
		background: #fff;
		box-shadow: 0 0 5px rgba(0,0,0,0.3);
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 50px;
	}

	.DialogueHierarchy {
		background: $snow-whiter;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 1.5rem 0 50px;
		


		.CardEditor {
			position: relative;
			background: #fff;
			border-radius: 2rem;
			margin: 1.5rem 4rem;
			width: 600px;

			&.EndCard {
				display: flex;
				justify-content: center;
				align-items:center;
				background: $snow-white;
				border-radius: 20px;
				margin: 2rem 5rem;
				text-transform: uppercase;
				font-size: 0.8rem;
			}

			.LinkHandle {
				padding: 0.4rem;
				background: red;
				position: absolute;
				top: 4.9rem;
				z-index:1;
				border-radius: 1.8rem;
				display: flex;
				cursor:pointer;
			}

			.CardDeleteButton {
				position: absolute !important;
				top: calc(-1.6rem - 2px);
				right: 2rem;
				padding: 0 !important;
				background-color: #000 !important;
				border-top-left-radius: 2rem * 2;
				border-top-right-radius: 2rem * 2;
				width: 2rem !important;
				height: 1.6rem !important;

				svg {
					width: 1.05rem !important;
				}
			}

			.FieldContainer {
				padding: 2rem 2rem 1.5rem;

				.CardContentTabs {

					.CardContentTab {
						// border: 1px solid $snow-white;
						// border-bottom: none;
						border-bottom: 1px solid #fff;
						padding: 0 0 1rem;
						height: 200px;

						&.ImageUploaderContainer {
							border: 1px solid $snow-white;
						}

						img {
							display: block;
							margin: 1rem auto 0;
						}
						.ImageUploaderNoImg {
							background-color: #f6f4f8;
							display: flex;
							justify-content: center;
							align-items: center;
							margin: 1rem 1rem 0.4rem;
							text-align: center;
							height: 150px;

							p {
								color: $snow-white;
								font-size: 0.8rem;
								text-transform: uppercase;
							}
						}
						input[type="file"] {
							display: block;
							padding: 10px;
							margin: 0 auto;
						}

						textarea {
							position: relative;
							border: 1px solid $snow-white;
							// border: none;
							border-bottom: 2px solid $snow-white;
							border-top: 1px solid #fff;
							display: block;
							padding: 15px !important;
							font-family: "Roboto", Arial, sans-serif;
							font-size: 1rem;
							width: calc(100% - 32px);
							height: 155px;
						}
						label {
							margin-left: 0.5rem;
						}
					}

					.CardContentTabsNav {
						margin-bottom: -1px;

						button {
							background: $snow-whiter !important;
							border: 1px solid $snow-white !important;
							border-bottom: none !important;
							border-radius: 0 !important;
							color: $secondaryColour !important;
							width: 50%;

							&:first-child {
								border-right: none !important;
							}

							&.active {
								background: #fff !important;
								color: $buttonColour !important;
							}
						}
					}
				}
			}
			.ButtonEditor {
				display: flex;
				justify-content: space-between;
				padding: 2rem;
				padding-top: 0;

				.ButtonCombo {
					display: flex;
					flex-direction: column;
					width: 46%;

					&:nth-child(2) {
						.LinkButtonContainer {
							justify-content: flex-end !important;
						}
					}

					.FieldContainer {
						padding: 0;

						.LinkButtonContainer {
							display: flex;
							align-items: center;
							justify-content: flex-start;
							margin-top: 1rem;
						}

						input[type="text"] {
							padding: 15px;
							text-align: center;
							width: calc(100% - 30px - 2px) !important;
						}
					}
				}
			}
		}
	}

	
}


#DialogueAdmin {
	padding: 5%;

	#DialogueAdminHeader {
		display: flex; 
		justify-content: space-between;
		width: 100%;

		.DialogueAdminDescript {
			flex-direction: column;
			justify-content: flex-start;
			align-items: left;

			h2 {
				font-size: 1rem;
				margin-bottom: 0;
			}

			p {
				font-size: 0.8rem;
				margin-top: 0.5rem;
			}
		}

		& > div {
			display: flex !important;
			align-items: center;
			box-shadow: none !important;
		}
	}

	.PinContentList {
		font-size: 0.95rem;
	}
}

// .ListItem has to be outside because when dragging it's moved to body
.ListItem {
	padding: 0.85rem 0 !important;
	
	.handle {
		height: 1.3rem !important;
	}
}

.CreateNewDialogueDialog {

	h3 {
		font-size: 21px !important;
	}
}
// End of Dialogues


.googleMapped {


}

.DialoguePlayer {
	margin-bottom: 0 !important;

	h2 {
		color: #000;
		font-size: 1.4rem;
		font-weight: normal;
		margin: 1rem 2rem 2rem 2rem;
		text-align: center;
	}

	.DialoguePlayerButtons {
		display: flex;
		text-align: center;

		& > div {
			border: 1px solid #ccc;
			box-shadow: none !important;
			display: inline-block;
			margin: 2% !important;
			min-width: auto !important;
			width: 45%;

			div {
				display: flex;
				align-items: center;
			}
		}
		button {
			background-color: transparent !important;
			display: block;
			line-height: 1.1 !important;
			padding: 1rem !important;

			width: auto !important;
			height: auto !important;

			span {
				color: #000 !important;
				line-height: 1.2;
				font-size: 1rem !important;
				font-weight: normal !important;
				padding: 0 !important;
				text-transform: none !important;
			}
		}
	}
}

.PrimaryFlatButton {
	color: $buttonColour !important;
}

.CardNavigator {
	width:100%;
	background: #333;
	padding-top:10px;
	padding-bottom:10px;
	
	.GridList {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		flex-direction: row;
		padding-left:10px;

		a {
			display:block;
			text-align: center;
			color: #333;
		}
		
		.CardLink {
			text-decoration:none;
			border:5px solid rgba(0,0,0,0);
			margin:10px;

			.CardLinkPaper {
				height: 100px;
				width: 150px;
				background: #fff;
				box-sizing: border-box;
				display: flex;
				align-items: center;
				align-content: center;
				justify-content: space-around;
				scroll: horizontal;
				text-align: center;
				cursor: pointer;
				transition: border .25s ease;
				position:relative;

				p {
					margin:0;
					pointer-events:none;
					font-size: .8rem;
				}

			}
			
			&.active {
				border:5px solid $primaryColour;
			}

			&.active.isLinking {
				border:5px solid $secondaryColour;
			}

		}
	}
}

.MyBottomNavigation {
	bottom: 0;
	width: 100%;
	text-align: center;
}

.List {
	font-size: 0.85rem;
	margin: 0;
	padding: 0;
	margin-top: 2rem;
}

.ListItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	padding: 1rem 0;
	cursor: pointer;
	border-bottom: 1px solid #eee;
	margin: 0;
	background: white;

	a {
		margin-left: 0.2rem;
		flex-grow: 1;
	}
	.buttons {
		order:3;
		* {
			margin: 0 .5rem;
		}
	}

}

.DialoguePlayer {
	
	display:flex;
	align-content: center;
	justify-content: space-around;
	height:100%;
	flex-direction: column;
	margin-bottom: 2rem;

	h2 {
		text-align:center;
		font-size: 1.1rem;
	}
	.buttons {
		// display:flex;
		// justify-content: space-around;
	}
}

#NewDialoguePrompt {
	display: flex;
}

.loadingIcon {
	animation-name: spin;
	animation-duration: 2000ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}


@keyframes spin { 
	from { 
		transform: rotate(0deg); 
		} to { 
			transform: rotate(-360deg); 
		}
	}



	.blinking {
		animation-name: blinking;
		animation-duration: 1000ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
	}

	@keyframes blinking { 
		0% { 
			opacity: 1;
		} 
		50% { 
			opacity: .5;
		}
		100% { 
			opacity: 1;
		}
	}